<script>
	import { create_route_path } from '$utils/routes';

	import Main from '$components/main.svelte';
</script>

<svelte:head>
	<title>Error 404 | Tiny Reader</title>
</svelte:head>

<Main>
	<div class="center-wrapper">
		<div class="info">
			<h2>Ooops!</h2>
			<p>That page doesn't exist.</p>
			<a href={create_route_path( '' )}>Home</a>
		</div>
	</div>
</Main>

<style lang="postcss">
	.center-wrapper {
		--center-wrapper-size: 100dvh;
	}

	.info {
		position: relative;
		block-size: 8rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-block-end: initial;

		&::after {
			position: absolute;
			inset-block-start: -6rem;
			z-index: -1;
			content: '404';
			opacity: 0.06;
			font-family: 'Archivo Narrow', inter, sans-serif;
			font-size: 12rem;
			color: var( --c-link );
		}
	}

	h2 {
		margin-block: 0;
	}

	p {
		margin-block-start: calc( var( --spacing-inner ) / 2 );
	}

	a {
		margin-block-start: auto;
	}
</style>
