<script>
	import { add_dom_hooks } from '$utils/sanitize-content';
	import { afterNavigate, beforeNavigate, goto } from '$app/navigation';
	import { create_route_path } from '$utils/routes';
	import { onMount } from 'svelte';
	import { page } from '$app/stores';

	// NOTE: This needs to be imported before component imports,
	// so they can override global styles.
	import '$styles/app.pcss';

	import AlertBox from '$components/alert-box.svelte';
	import Lazy from '$components/lazy.svelte';
	import Main from '$components/main.svelte';
	import Notifications from '$components/notifications.svelte';
	import Spinner from '$components/spinner.svelte';
	import { scroll_position_restorer } from '$actions/scroll-position-restorer';

	/** @type { import('./$types').LayoutData } */
	export let data;

	const { alert, notifications, session } = data.stores;

	const home_path = create_route_path( '' );
	const login_path = create_route_path( 'login' );
	const settings_path = create_route_path( 'settings' );
	const route_ids_to_check = new Set( [ '/', '/cat/[id]', '/feed/[id]' ] );

	/** @type {import('$actions/scroll-position-restorer').Param}*/
	let scroll_restore_param = null;
	/** @type {string|undefined} */
	let should_redirect_to;

	$: current_path = $page.url.pathname;
	$: on_login_page = current_path === login_path;

	async function check_session() {
		let is_session_valid = false;

		try {
			is_session_valid = await session.check();
		} catch ( err ) {
			alert.update( () => ( {
				button: 'OK',
				message: err instanceof Error ? err.message : 'Unknown error.',
				title: 'Session Error',
			} ) );
		}

		if ( is_session_valid ) {
			if ( on_login_page ) {
				return home_path;
			}

			return undefined;
		}

		if ( on_login_page ) {
			return undefined;
		}

		session.set_redirect( current_path );
		return login_path;
	}

	function set_scroll_restore_param( restore = false ) {
		scroll_restore_param =
			$page.route.id && route_ids_to_check.has( $page.route.id ) ? { id: $page.url.pathname, restore } : null;
	}

	beforeNavigate( async navigation => {
		if ( navigation?.to?.route.id === settings_path && current_path !== settings_path ) {
			session.set_redirect( current_path === login_path ? home_path : current_path );
		}

		set_scroll_restore_param();
	} );

	onMount( async () => {
		add_dom_hooks();

		should_redirect_to = await check_session();

		if ( should_redirect_to ) {
			goto( should_redirect_to );
		}
	} );

	afterNavigate( () => {
		if ( should_redirect_to ) {
			should_redirect_to = undefined;
		}

		set_scroll_restore_param( true );
	} );
</script>

<svelte:window use:scroll_position_restorer={scroll_restore_param} />

{#if $alert?.message}
	<AlertBox />
{/if}

{#if $notifications.length}
	<Notifications />
{/if}

<div class="container" class:needs-login={on_login_page || ! $session.is_checked}>
	{#if $session.is_valid}
		<Lazy component={() => import( '../components/sidebar.svelte' )} />
	{/if}

	{#if ! should_redirect_to && $session.is_checked && ( $session.is_valid || on_login_page )}
		<slot />
	{:else}
		<Main>
			<Spinner />
		</Main>
	{/if}
</div>

<style lang="postcss">
	.container {
		display: grid;
		grid-template-columns: minmax( 0, 1fr );
		grid-template-rows: auto 1fr auto;
		min-block-size: 100dvh;
		overflow: visible;

		@media ( --br-desktop ) {
			grid-template-columns: 1fr auto;
			margin-inline-start: var( --sidebar-width );
			max-inline-size: 720px;
		}

		@media ( --br-large ) {
			margin-inline: auto;
		}

		&.needs-login {
			max-inline-size: unset;
			margin: unset;
		}

		:global( body.no-scroll ) & {
			position: fixed;
			inset-block-start: 0;
			block-size: 100%;
			inline-size: 100%;
			overflow: hidden;
		}
	}
</style>
