<script>
	// eslint-disable-next-line @typescript-eslint/ban-ts-comment
	// @ts-nocheck

	import { beforeUpdate, onDestroy } from 'svelte';
	import { getStore } from '$stores';
	import { handleFieldChange } from '$utils/form';

	import ArticlesList from '$components/articles-list.svelte';
	import Field from '$components/field.svelte';
	import Form from '$components/form.svelte';
	import Icon from '$components/icon.svelte';
	import Main from '$components/main.svelte';
	import PageHeader from '$components/page-header.svelte';
	import SidebarButton from '$components/sidebar-button.svelte';

	const { articles, feedsData, settings } = getStore();
	const { fetchParams: initialFetchParams } = $articles;
	const {
		feedId: initialFeedId = -4,
		isCat: initialIsCat = false,
		search: initialSearch = '',
		view_mode: initialViewMode,
	} = initialFetchParams;

	let can_submit = false;
	let is_submitting = false;

	/*
	 * Fill initial values with the one from the store.

	 * This will also keep the previous values when we're coming back
	 * from the single article view.
	 *
	 * See also the manual setting of filter below
	 */
	let values = {
		filter: initialIsCat ? `cat:${ initialFeedId }` : `feed:${ initialFeedId }`,
		isCat: initialIsCat,
		includeRead: initialViewMode === 'all_articles',
		search: initialSearch,
	};

	$: ( { filter, includeRead, search } = values );
	$: ( { hasItems, isFetched } = $articles );
	$: ( { categories } = $feedsData );

	$: can_submit = filter !== '' && search !== '';
	$: options = categories.map( ( { feeds, title: group } ) => ( {
		group,
		items: feeds.map( ( { id, title, type } ) => ( {
			label: type === 'category' ? 'All Feeds' : title,
			value: type === 'category' ? `cat:${ id }` : `feed:${ id }`,
		} ) ),
	} ) );

	const docTitle = 'Search';

	function handleChangeFilter( e ) {
		const { value } = e.target;

		values = {
			...values,
			isCat: value.split( ':' )[ 0 ] === 'cat',
			filter: value,
		};
	}

	function handleInput( ...args ) {
		values = handleFieldChange( values, ...args );
	}

	function handleToggleChange( e ) {
		values.includeRead = e.target.checked;
	}

	async function handleSubmit( e ) {
		e.preventDefault();

		const [ type, feedId ] = filter.split( ':' );

		articles.clear();
		articles.update( ( { fetchParams, ...rest } ) => ( {
			...rest,
			fetchParams: {
				...fetchParams,
				search,
				feedId: Number( feedId ),
				isCat: type === 'cat',
				view_mode: includeRead ? 'all_articles' : 'unread',
			},
		} ) );

		is_submitting = true;
		await articles.fetch();
		is_submitting = false;
	}

	beforeUpdate( () => {
		if ( $articles.isSearch ) {
			return;
		}

		articles.setFeed( -4, 'feed', true );

		/*
		 * When landing here after landing on other feed pages, this needs
		 * to be manually set because our initial value might be wrong
		 * (we want the "All Articles" feed to be selected by default).
		 *
		 * We can't set this up above because we may as well be landing here
		 * from a single article that's opened from a search result, and
		 * we don't want to reset the previously selected filter.
		 */
		values.filter = 'feed:-4';
	} );

	onDestroy( () => {
		articles.update( ( { fetchParams, ...rest } ) => ( {
			...rest,
			fetchParams: {
				...fetchParams,
				view_mode: $settings.fetchOnlyUnread ? 'unread' : 'all_articles',
			},
		} ) );
	} );
</script>

<svelte:head>
	<title>{docTitle} | Tiny Reader</title>
</svelte:head>
<PageHeader>
	<span>
		<Icon name="search" />
		<span>{docTitle}</span>
	</span>
</PageHeader>
<SidebarButton />
<Main>
	<Form
		{can_submit}
		{is_submitting}
		autocomplete="on"
		class="main-content form--search"
		submit_text="Search"
		on:submit={handleSubmit}
	>
		<Field
			disabled={is_submitting}
			label="Search For"
			name="search"
			type="text"
			placeholder="Article title or content"
			value={search}
			on:input={handleInput}
		/>
		<Field
			{options}
			disabled={is_submitting}
			label="Filter"
			name="filter"
			type="select"
			value={filter}
			on:change={handleChangeFilter}
		/>
		<Field
			type="checkbox"
			label="Include read articles"
			name="includeRead"
			class="field--checkbox--reversed"
			checked={includeRead}
			disabled={is_submitting}
			on:change={handleToggleChange}
		/>
	</Form>
	<ArticlesList {articles} autoFetch={false} />
	{#if isFetched && ! hasItems}
		<div class="articles--nothing-found">
			<p>Nothing found.</p>
		</div>
	{/if}
</Main>
