<script>
	import { afterUpdate } from 'svelte';
	import { afterNavigate, goto } from '$app/navigation';
	import { page } from '$app/stores';

	import Actions from '$components/actions.svelte';
	import Article from '$components/article.svelte';
	import Main from '$components/main.svelte';
	import NotFound from '$components/not-found.svelte';
	import Spinner from '$components/spinner.svelte';

	/** @type { import('./$types').PageData } */
	export let data;
	const { session, ui } = data.stores;

	const engine = session.get_engine();
	const articles = engine.get_data( 'articles' );
	const feeds = engine.get_data( 'feeds' );

	/** @type {import('$types').ActionButtonProps[]} */
	let actions;
	let doc_title = 'Loading…';

	$: ( { error, is_fetched, is_fetching, items_by_id: mapped_articles } = $articles );
	$: ( { items_by_id: mapped_feeds } = $feeds );

	$: id = Number( $page.params.id );
	$: article = mapped_articles.get( id );
	$: feed = article ? mapped_feeds.get( article.feed_id ) : null;
	$: has_error = error instanceof Error;

	$: {
		actions = [ { class: 'sidebar-toggle', icon: 'list', label: 'Sidebar', onClick: () => ui.toggle_sidebar() } ];

		if ( article ) {
			doc_title = article.title;

			actions = [
				{
					icon: 'uncheckbox',
					label: 'Mark as unread',
					onClick: () => {
						articles.toggle_read( [ id ], false );
						goto( feed ? feed.href : '/' );
					},
				},
				{
					icon: article.starred ? 'star-outline' : 'star',
					label: article.starred ? 'Unfavorite' : 'Favorite',
					onClick: () => articles.toggle_starred( [ id ], ! article?.starred ),
				},
				...actions,
			];
		}

		if ( error ) {
			doc_title = error.message;
		}
	}

	afterNavigate( () => {
		if ( article?.unread ) {
			articles.toggle_read( [ id ], true );
		}
	} );

	afterUpdate( () => {
		if ( ! is_fetched && ! is_fetching && ! has_error && article?.id !== id ) {
			articles.fetch_single( id );
		}
	} );
</script>

<svelte:head>
	<title>{doc_title} | Tiny Reader</title>
</svelte:head>

<Actions {actions} class="hide-on-desktop" />

<Main>
	<div class:center-wrapper={is_fetching || error} class:main-content={! is_fetching}>
		{#if is_fetching}
			<Spinner />
		{:else if article}
			<Article is_single {article} />
		{:else if error}
			<NotFound>
				<p>{error.message}</p>
			</NotFound>
		{/if}
	</div>
</Main>

<style>
	div {
		--center-wrapper-size: calc( 100dvh - var( --toolbar-height ) );

		padding-block-start: unset;

		@media ( --br-desktop ) {
			--center-wrapper-size: 100dvh;
		}
	}
</style>
