html {
	overflow-y: scroll;
	text-size-adjust: none;
}

body {
	font-weight: 400;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
}

a,
p,
span {
	word-break: break-word;
	hyphens: auto;
}

a {
	background-color: transparent;
	color: var( --c-link );

	&:hover,
	&:focus {
		color: var( --c-link-focus );
	}

	&:active {
		filter: brightness( 110% );
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	word-break: break-word;
	hyphens: auto;
}

h1 {
	font-size: var( --font-size-biggest );
	margin-block: 0.67em;
}

h2,
h3,
h4 {
	font-size: var( --font-size-big );
}

h5,
h6 {
	font-size: var( --font-size-regular );
}

ul,
ol {
	padding-inline-start: calc( var( --spacing-inner ) * 1.5 );
}

hr {
	box-sizing: content-box;
	overflow: visible;
	margin-block: calc( var( --spacing-inner ) * 1.5 );
	border: 0;
	block-size: 1px;
	background: var( --c-link );
	background-image: linear-gradient( to right, var( --c-bg-dark ), var( --c-link ), var( --c-bg-dark ) );
}

blockquote {
	margin-block-end: var( --spacing-outer );
	margin-inline: 0;
	padding-inline-start: var( --spacing-outer );
	border-inline-start: 1px solid var( --c-fg );
	font-style: italic;
	text-align: start;
}

/** Images **/
img {
	border-style: none;
	max-inline-size: 100%;
	block-size: auto;
}

figure {
	margin-inline: 0;
	overflow-x: auto;
	text-align: center;

	figcaption {
		text-align: center;
		font-size: var( --font-size-small );
		opacity: 0.8;
		margin-block-start: var( --spacing-inner );
	}
}

/** Video **/
video {
	max-inline-size: 100%;
}

/** Audio **/
figure audio {
	display: block;
	inline-size: 100%;
}

/** Code **/
code {
	padding: 0.25rem;
	border-radius: 0.125rem;
	background-color: var( --c-bg-dark );
	font-size: var( --font-size-small );
	font-style: normal;
}

a code {
	color: var( --c-link );
}

pre {
	font-size: 1em;
	overflow-x: auto;
	padding-block: var( --spacing-inner );
	padding-inline: var( --spacing-inner );
	background-color: var( --c-bg-dark );

	code {
		background-color: unset;
		color: inherit;
		line-height: 1.8;
		padding: 0;
	}
}

/** Table **/
table {
	margin-inline: auto;
	text-align: start;

	&,
	&[style],
	&[width] {
		border-spacing: 0;
		border: none;
	}
}

th,
td {
	padding-block: calc( var( --spacing-outer ) / 2 );
	padding-inline: var( --spacing-inline );
	border-block-start: none;
	border-inline-end: none;
	border-block-end: var( --border-thin );
	border-inline-start: none;

	code {
		font-size: var( --font-size-small );
	}
}

td {
	vertical-align: top;
}

th {
	background-color: var( --c-bg-dark );
	vertical-align: middle;
}

/** Form */
input,
select {
	appearance: none;
	outline: none;
	background-color: var( --c-bg-light );
	color: var( --c-fg );
	border: var( --border-thin );
	border-radius: 0.25rem;
}

input {
	padding-block: calc( var( --spacing-inner ) / 4 );
	padding-inline: calc( var( --spacing-inner ) / 2 );
}

select {
	padding-block: calc( var( --spacing-inner ) / 7.25 );
	padding-inline: calc( var( --spacing-inner ) / 2 ) calc( 20px + ( var( --spacing-inner ) / 2 ) );
	background-image: url( 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E' );
	background-repeat: no-repeat;
	background-position: right 5px top 55%;
}

input:focus,
select:focus {
	border-color: var( --c-link );
}

input[type='number'] {
	letter-spacing: 2px;
}

/** Details **/
summary > * {
	display: inline-block;
}
