/* stylelint-disable scss/no-duplicate-mixins */

html {
	&:not( .theme-dark ) {
		@mixin theme-light;
	}

	&.theme-dark {
		@mixin theme-dark;
	}

	@media ( prefers-color-scheme: dark ) {
		&:not( .theme-light ) {
			@mixin theme-dark;
		}
	}
}

body {
	color: var( --c-fg );
	background-color: var( --c-bg );
}
