/* stylelint-disable custom-property-empty-line-before */

body {
	--c-cover-bg: rgba( 0, 0, 0, 0.8 );

	--spacing-inner: 1rem;
	--spacing-outer: 1.25rem;

	--sidebar-width: 20rem;
	--toolbar-height: 3rem;

	--icon-size-tiny: 0.875rem;
	--icon-size-small: 1.125rem;
	--icon-size-medium: 1.25rem;
	--icon-size-big: 1.75rem;
	--icon-size-huge: 2.5rem;

	--font-size-biggest: 1.25rem;
	--font-size-big: 1.125rem;
	--font-size-regular: 1em;
	--font-size-small: 0.875em;
	--font-size-smallest: 0.75em;

	--border-color: var( --c-bg-dark );
	--border-thin: 1px solid var( --border-color );

	--size-tablet: 720px;
	--size-desktop: 1024px;
	--size-large: 1350px;
}
