.svg-sprite {
	block-size: 0;
	inline-size: 0;
	position: absolute;
	visibility: hidden;
}

.center-wrapper {
	min-block-size: var( --center-wrapper-size, 100% );
	display: grid;
	place-items: center;
}

.main-content {
	padding: var( --size-fluid-3 );
}

.toolbar {
	position: sticky;
	display: flex;
	align-items: center;
	padding-inline: var( --size-fluid-3 );
	background-color: var( --c-bg );
	z-index: 1;

	@media ( --br-desktop ) {
		position: unset;
	}
}

.cover {
	position: fixed;
	z-index: 9;
	inset-block-start: 0;
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: 100%;
}

.tr-table-wrapper {
	overflow: auto;
	padding-block-end: calc( var( --spacing-outer / 2 ) );
}

.screen-reader-text {
	clip: rect( 0.063rem, 0.063rem, 0.063rem, 0.063rem );
	clip-path: polygon( 0 0, 0 0, 0 0, 0 0 );
	position: absolute !important;
	white-space: nowrap;
	block-size: 0.063rem;
	inline-size: 0.063rem;
	overflow: hidden;
}

.action-button {
	cursor: pointer;
	position: relative;

	.icon {
		position: absolute;
		display: block;
		inset-block-start: 50%;
		inset-inline-end: 50%;
		transform: translate( 50%, -50% );
	}
}

/**
 * Tooltip
 *
 * Credits:
 * - https://svelte.dev/repl/3153faf7584d40bd8ddebecf39f24ac1?version=3.42.4
 * - https://stackoverflow.com/a/62853552
 * - https://stackoverflow.com/a/64553121
 */
@media ( hover: hover ) and ( pointer: fine ) {
	[data-tooltip] {
		--tooltip-spacing: 5px;

		position: relative;
		z-index: 2;
		display: block;

		&::before,
		&::after {
			visibility: hidden;
			opacity: 0;
			pointer-events: none;
			transition: 0.2s ease-out;
			transform: translate( var( --tooltip-spacing ), -50% );
			position: absolute;
			inset-block-start: 50%;
			inset-inline-end: 100%;

			@media ( --br-large ) {
				transform: translate( -50%, 5px );
				inset-block-start: unset;
				inset-block-end: 100%;
				inset-inline-start: 50%;
				inset-inline-end: unset;
			}
		}

		&::before {
			padding-block: calc( var( --spacing-inner ) / 4 ) calc( var( --spacing-inner ) / 2 );
			padding-inline: calc( var( --spacing-inner ) / 4 ) calc( var( --spacing-inner ) / 2 );
			inline-size: max-content;
			border-radius: 3px;
			background-color: var( --c-cover-bg );
			color: var( --c-cover-fg );
			content: attr( data-tooltip );
			white-space: nowrap;
			font-size: var( --font-size-small );
			line-height: initial;
			margin-inline-end: var( --tooltip-spacing );

			@media ( --br-large ) {
				margin-block-end: var( --tooltip-spacing );
			}
		}

		&::after {
			inline-size: 0;
			content: ' ';
			font-size: 0;
			line-height: 0;
			border-block-start: var( --tooltip-spacing ) solid transparent;
			border-block-end: var( --tooltip-spacing ) solid transparent;
			border-inline-start: var( --tooltip-spacing ) solid var( --c-cover-bg );

			@media ( --br-large ) {
				border-block-end: unset;
				border-block-start-color: var( --c-cover-bg );
				border-inline-start-color: transparent;
				border-inline-end: var( --tooltip-spacing ) solid transparent;
			}
		}

		&:hover {
			&::before,
			&::after {
				visibility: visible;
				opacity: 1;
				transform: translate( 0, -50% );

				@media ( --br-large ) {
					transform: translate( -50%, 0 );
				}
			}
		}
	}
}
