<script>
	/** @typedef {{ label: string; value: import('$types').Theme }} ThemeOption */

	import { goto } from '$app/navigation';
	import { onDestroy } from 'svelte';

	import Field from '$components/field.svelte';
	import Form from '$components/form.svelte';
	import Icon from '$components/icon.svelte';
	import Main from '$components/main.svelte';
	import PageHeader from '$components/page-header.svelte';
	import SidebarButton from '$components/sidebar-button.svelte';

	/** @type { import('./$types').PageData } */
	export let data;
	const { session, settings } = data.stores;

	const current = { ...$settings };
	const doc_title = 'Settings';
	/** @type {ThemeOption[]} */
	const theme_options = [
		{
			label: 'System',
			value: 'system',
		},
		{
			label: 'Light',
			value: 'light',
		},
		{
			label: 'Dark',
			value: 'dark',
		},
	];

	/**
	 * Handle submit event
	 *
	 * @param {SubmitEvent} event Submit event.
	 */
	function handle_submit( event ) {
		event.preventDefault();
		settings.update( () => current );

		const next_page = $session.redirect_to || '/';
		session.set_redirect( '' );

		goto( next_page );
	}

	/**
	 * Handle change on theme field
	 *
	 * @param {Event & {target: HTMLSelectElement}} event Input event.
	 */
	function handle_change_theme( event ) {
		const next_theme = theme_options.find( o => o.value === event.target.value );

		if ( next_theme ) {
			current.theme = next_theme.value;
			window.__setTheme( current.theme );
		}
	}

	onDestroy( () => window.__setTheme( $settings.theme ) );
</script>

<svelte:head>
	<title>{doc_title} | Tiny Reader</title>
</svelte:head>

<PageHeader>
	<span>
		<Icon name="settings-outline" />
		<span>{doc_title}</span>
	</span>
</PageHeader>
<SidebarButton />
<Main>
	<Form autocomplete="on" class="main-content form--settings" on:submit={handle_submit} submit_text="Save">
		<Field
			class="field--theme"
			label="Theme"
			name="theme"
			on:change={handle_change_theme}
			options={theme_options}
			stacked={false}
			type="select"
			value={current.theme}
		/>
		<Field
			label="Number of articles to fetch"
			max="100"
			min="1"
			name="fetch_limit"
			stacked={false}
			type="number"
			value={current.fetch_limit}
			on:input={e => ( current.fetch_limit = e.target.valueAsNumber )}
		/>
		<Field
			checked={current.fetch_only_unread}
			label="Show Unread Articles Only"
			name="fetch_only_unread"
			stacked={false}
			type="checkbox"
			on:change={() => ( current.fetch_only_unread = ! current.fetch_only_unread )}
		/>
		<Field
			checked={current.use_low_profile}
			label="Enable Low Profile Mode"
			name="use_low_profile"
			stacked={false}
			type="checkbox"
			on:change={() => ( current.use_low_profile = ! current.use_low_profile )}
		/>
	</Form>
</Main>
