<script>
	import IconButton from './icon-button.svelte';

	let cls = '';
	export { cls as class };

	/** @type { import('$types').ActionButtonProps[] } */
	export let actions;

	// eslint-disable-next-line @typescript-eslint/no-empty-function
	const noop = () => {};
</script>

<div class="actions toolbar {cls}">
	{#each actions as { class: item_class, label, onClick, ...rest }}
		<IconButton {...rest} class="action-button {item_class || ''}" on:click={onClick || noop} data-tooltip={label}>
			<span class="screen-reader-text">{label}</span>
		</IconButton>
	{/each}
	<slot />
</div>

<style lang="postcss">
	.actions {
		inset-block-end: 0;
		align-self: end;
		grid-row: 3/4;
		justify-content: space-between;
		block-size: var( --toolbar-height );
		border-block-start: var( --border-thin );
		background-color: var( --c-bg );

		@media ( --br-desktop ) {
			border-block-start: unset;
			inset-block-end: unset;
			justify-content: unset;
			padding-inline-start: unset;
			align-self: start;
			gap: var( --size-3 );
			grid-column: 2/3;
			grid-row: 1/2;
			padding-block-start: var( --size-fluid-2 );
		}

		@media ( --br-large ) {
			block-size: unset;
			padding-block-start: var( --size-fluid-3 );
		}

		:global( .button ) {
			--button-color: var( --c-fg );

			border: unset;
			border-radius: unset;
			padding: unset;
			block-size: var( --size-6 );
			inline-size: var( --size-6 );
			line-height: 1;
			transition: color 0.4s;

			@media ( --br-desktop ) {
				inline-size: var( --size-4 );
				block-size: var( --size-4 );
			}
		}

		:global( .icon ) {
			inline-size: 100%;
			block-size: 100%;
		}

		:global( .button:only-child ) {
			margin-inline-start: auto;
		}

		:global( .button:focus ),
		:global( .button:hover ) {
			--button-color: var( --c-link );
		}

		:global( .button:active ) {
			filter: brightness( 110% );
		}

		:global( .button[disabled] ),
		:global( .button:disabled ) {
			--button-color: var( --c-fg-light );

			cursor: default;
			opacity: 0.8;
		}

		@media ( --br-desktop ) {
			:global( .sidebar-toggle ) {
				display: none;
			}
		}
	}
</style>
