<script>
	import { page } from '$app/stores';

	import Button from './button.svelte';
	import Modal from './modal.svelte';

	const { alert } = $page.data.stores;
</script>

{#if $alert}
	<Modal on:close={alert.reset}>
		<h2>{$alert.title}</h2>
		<!-- eslint-disable-next-line svelte/no-at-html-tags -->
		<p>{@html $alert.message}</p>
		<Button is_primary on:click={alert.confirm} on:click={alert.reset}>{$alert.button}</Button>
		{#if $alert.cancel_button}
			<Button is_tertiary on:click={alert.reset}>{$alert.cancel_button}</Button>
		{/if}
	</Modal>
{/if}

<style lang="postcss">
	h2 {
		margin-block: 0;
		font-weight: 600;
	}

	p {
		margin-block: var( --spacing-outer );

		:global( code ) {
			background-color: transparent;
		}
	}
</style>
