<script>
	import { create_route_path } from '$utils/routes';

	/** @type {number} */
	export let id;
	/** @type {boolean} */
	export let is_single;
	/** @type {string} */
	export let link;
	/** @type {string} */
	export let title;
</script>

{#if is_single}
	<h1><a href={link} rel="noopener noreferrer" target="_blank">{title}</a></h1>
{:else}
	<h2><a href={create_route_path( `article/${ id }` )}>{title}</a></h2>
{/if}

<style lang="postcss">
	h1,
	h2 {
		margin-block: 0 calc( var( --spacing-outer ) / 2 );
		line-height: 1.4;
	}

	h1 {
		font-size: var( --font-size-big );

		@media ( --br-desktop ) {
			font-size: var( --font-size-biggest );
		}

		@media ( --br-large ) {
			font-size: calc( var( --font-size-regular ) * 2 );
		}
	}

	h2 {
		@media ( --br-large ) {
			font-size: var( --font-size-biggest );
		}
	}

	a {
		text-decoration: none;
		color: var( --c-fg );

		&:active,
		&:focus,
		&:hover {
			color: var( --c-link );
		}
	}
</style>
