<script>
	import Actions from '$components/article-actions.svelte';
	import Icon from '$components/icon.svelte';

	/** @type {import('$types').Article} */
	export let article;

	$: icon = article.starred ? 'star' : 'star-outline';
	$: toggleClass = article.starred ? 'is-marked' : '';
</script>

<p>
	<Icon class="icon {toggleClass}" name={icon} />

	{#if article.author}
		<!-- eslint-disable-next-line svelte/no-at-html-tags -->
		<span class="author">By {@html article.author}</span>
	{/if}

	<time datetime={article.datetime}>{article.datedisplay}</time>

	<Actions {article} />
</p>

<style lang="postcss">
	p {
		margin-block: 0;
		font-size: var( --font-size-small );
		opacity: 0.8;

		:global( .icon ) {
			display: inline-block;
			margin-block-start: var( --size-00 );
			inline-size: var( --icon-size-tiny );
			block-size: var( --icon-size-tiny );
		}

		:global( button ) {
			display: none;

			@media ( --br-tablet ) {
				display: revert;
			}
		}
	}

	span::after {
		content: '\00a0/';
	}
</style>
