<script>
	import { create_route_path } from '$utils/routes';
	import { page } from '$app/stores';

	import Icon from '$components/icon.svelte';

	/** @type { import('$types').Article } */
	export let article;
	/** @type { import('$types').Feed } */
	export let feed;

	const articles = $page.data.stores.session.get_engine().get_data( 'articles' );

	$: next = articles.get_next( article.id );
	$: prev = articles.get_previous( article.id );
</script>

<nav>
	<h2 class="screen-reader-text">Navigation</h2>
	<ul>
		{#if prev}
			<li class="prev">
				<a href={create_route_path( `article/${ prev.id }` )}>
					<Icon name="chevron-back" />
					Prev
				</a>
			</li>
		{/if}
		<li class="index"><a href={feed.href}>Index</a></li>
		{#if next}
			<li class="next">
				<a href={create_route_path( `article/${ next.id }` )}>
					Next
					<Icon name="chevron-forward" />
				</a>
			</li>
		{/if}
	</ul>
</nav>

<style lang="postcss">
	nav {
		inline-size: 20rem;
		max-inline-size: 80%;
		margin-inline: auto;
		margin-block-end: calc( var( --spacing-outer ) * 2 );

		:global( .icon ) {
			inline-size: var( --icon-size-small );
			block-size: var( --icon-size-small );
			fill: currentcolor;
		}
	}

	ul {
		display: grid;
		grid-template-columns: repeat( 3, 1fr );
		justify-content: center;
		padding-inline-start: 0;
		list-style: none;
	}

	a {
		text-decoration: none;
		display: flex;
		align-items: center;
	}

	.prev {
		grid-column: 1 / 2;
	}

	.index {
		grid-column: 2 / 3;

		a {
			justify-content: center;
		}
	}

	.next {
		grid-column: 3 / 4;

		a {
			justify-content: flex-end;
		}
	}
</style>
