<script>
	import Article from '$components/article.svelte';
	import Button from '$components/button.svelte';
	import NotFound from '$components/not-found.svelte';
	import Spinner from '$components/spinner.svelte';

	/** @type { import('$types').ArticlesStore } */
	export let articles;
	export let no_articles_text = 'No articles found.';
	export let show_feed_name = true;

	$: ( { has_items, has_more, is_fetched, is_fetching, items } = $articles );
</script>

<div
	class="main-content"
	class:center-wrapper={( is_fetching && ! is_fetched ) || ! has_items}
	class:has-items={has_items}
>
	{#if is_fetched}
		{#if has_items}
			<!-- eslint-disable-next-line space-in-parens -->
			{#each items as article (article.id)}
				<Article {article} {show_feed_name} />
			{/each}
			{#if has_more}
				<div class="load-more">
					<Button disabled={is_fetching} is_busy={is_fetching} on:click={() => articles.fetch_more()}>Load More</Button>
				</div>
			{/if}
		{:else}
			<NotFound>
				<p>{no_articles_text}</p>
			</NotFound>
		{/if}
	{:else if is_fetching}
		<Spinner />
	{/if}
</div>

<style lang="postcss">
	.main-content {
		padding-block: unset;
	}

	.has-items {
		display: flex;
		flex-direction: column;
	}

	.load-more {
		padding-block: var( --spacing-outer );
		display: flex;
		justify-content: center;
	}
</style>
