<script>
	import { extract_youtube_video_id } from '$utils/youtube';
	import { page } from '$app/stores';
	import DOMPurify from 'dompurify';

	import ArticleAttachment from './article-attachment.svelte';

	/** @type {import('$types').Article} */
	export let article;
	/** @type {boolean} */
	export let is_single;

	const { settings } = $page.data.stores;

	$: show_thumbnail = ! $settings.use_low_profile && ! is_single;
	$: ( { attachments, content, link, thumbnail } = article );
	$: thumbnail_src = show_thumbnail && thumbnail ? thumbnail : '';
	$: youtube_id = extract_youtube_video_id( link );
</script>

<div class="article-content" class:is-single={is_single}>
	{#if youtube_id && attachments?.length && ( show_thumbnail || is_single )}
		<ArticleAttachment attachment={attachments[ 0 ]} show_title={is_single} />
	{:else}
		{#if thumbnail_src}
			<img src={thumbnail_src} alt="" loading="lazy" />
		{/if}

		{#if is_single}
			{#if content}
				<!-- eslint-disable-next-line svelte/no-at-html-tags -->
				{@html DOMPurify.sanitize( content )}
			{/if}

			{#if attachments?.length}
				<details>
					<summary>Attachments</summary>
					<!-- eslint-disable-next-line space-in-parens -->
					{#each attachments as attachment (`${ attachment.mime_type }-${ attachment.url }`)}
						<ArticleAttachment {attachment} />
					{/each}
				</details>
			{/if}
		{/if}
	{/if}
</div>

<style lang="postcss">
	.article-content {
		margin-block-start: var( --spacing-outer );
		overflow-wrap: break-word;

		&:empty {
			display: none;
		}
	}

	img {
		display: block;
		margin-inline: auto;
	}
</style>
