<script>
	/** @type { import('$types').Feed|undefined } */
	export let feed;
</script>

<p>
	{#if feed}
		<a href={feed.href}>{feed.title}</a>
	{:else}
		&nbsp;
	{/if}
</p>

<style lang="postcss">
	p {
		order: -1;
		margin-block: 0 calc( var( --spacing-outer ) / 2 );
		font-size: var( --font-size-small );
		font-weight: 500;

		:global( a ) {
			text-decoration: none;
		}
	}
</style>
