<script>
	import { page } from '$app/stores';

	import Content from './article-content.svelte';
	import FeedName from './article-feed-name.svelte';
	import Meta from './article-meta.svelte';
	import Navigation from './article-navigation.svelte';
	import Title from './article-title.svelte';

	/** @type { import('$types').Article } */
	export let article;
	export let is_single = false;
	export let show_feed_name = true;

	const feeds = $page.data.stores.session.get_engine().get_data( 'feeds' );

	$: feed = $feeds.items_by_id.get( article.feed_id );
</script>

<article class:is-read={! article.unread} class:is-single={is_single}>
	<Title {is_single} id={article.id} link={article.link} title={article.title} />
	{#if show_feed_name}
		<FeedName {feed} />
	{/if}
	<Meta {article} />
	<Content {article} {is_single} />
</article>

{#if is_single && feed}
	<Navigation {article} {feed} />
{/if}

<style lang="postcss">
	article {
		display: flex;
		flex-direction: column;
		padding-block: var( --spacing-inner );
		border-block-end: var( --border-thin );

		@media ( --br-large ) {
			padding-block: var( --spacing-outer );
		}
	}

	.is-single {
		border-block-end: none;
		padding-block-end: 0;

		@media ( --br-desktop ) {
			padding-block-start: calc( var( --spacing-inner ) * 2 );
		}
	}

	.is-read:not( .is-single ) {
		filter: opacity( 0.75 );
	}
</style>
