<script>
	import { autop } from '@wordpress/autop';
	import { extract_youtube_video_id } from '$utils/youtube';
	import autolinker from 'autolinker';
	import DOMPurify from 'dompurify';

	import Youtube from 'svelte-lite-youtube-embed';

	/** @type { import('$types').Attachment }*/
	export let attachment;
	export let show_title = true;

	$: ( { height, mime_type, title, url, width } = attachment );
	$: youtube_id = extract_youtube_video_id( url );
</script>

<figure class:is-youtube-video={youtube_id}>
	{#if youtube_id}
		<Youtube posterQuality="maxresdefault" videoId={youtube_id} />
	{:else if mime_type.startsWith( 'image/' )}
		<img alt="" height={height || null} loading="lazy" src={url} width={width || null} />
	{:else if mime_type.startsWith( 'audio/' )}
		<audio controls src={url}><a href={url}>Download audio</a></audio>
	{:else}
		<a href={url}>{url}</a>
	{/if}

	{#if show_title && title}
		<!-- eslint-disable-next-line svelte/no-at-html-tags -->
		<figcaption>{@html DOMPurify.sanitize( autop( autolinker.link( title ) ) )}</figcaption>
	{/if}
</figure>

<style>
	figure:last-of-type {
		margin-block-end: 0;
	}

	.is-youtube-video figcaption {
		text-align: start;
		opacity: unset;
		font-size: revert;
	}
</style>
