<script>
	import { page } from '$app/stores';

	/** @type { import('$types').Article } */
	export let article;

	const articles = $page.data.stores.session.get_engine().get_data( 'articles' );

	function toggle_read() {
		articles.toggle_read( [ article.id ], article.unread );
	}

	function toggle_starred() {
		articles.toggle_starred( [ article.id ], ! article.starred );
	}

	$: mark_favorite_label = article.starred ? 'Unfavorite' : 'Favorite';
	$: mark_read_label = article.unread ? 'Mark as read' : 'Mark as unread';
</script>

<button on:click={toggle_read}><span>{mark_read_label}</span></button>
<button on:click={toggle_starred}><span>{mark_favorite_label}</span></button>

<style lang="postcss">
	button {
		display: none;
		padding: 0;
		border: 0;
		background-color: unset;
		color: inherit;
		cursor: pointer;
		font-weight: inherit;
		text-transform: lowercase;

		span {
			text-decoration: underline;
		}

		&:hover,
		&:focus {
			span {
				text-decoration: unset;
			}
		}

		&::before {
			content: '/\00a0';
			text-decoration: unset;
		}

		@media ( --br-tablet ) {
			display: inline-block;
		}
	}
</style>
