<script>
	let cls = '';
	export { cls as class };

	export let href = '';
	export let is_busy = false;
	export let is_primary = false;
	export let is_tertiary = false;

	$: is_default = ! ( is_primary || is_tertiary );
	$: classes = [
		'button',
		cls,
		is_busy && 'is-busy',
		is_default && 'is-default',
		is_primary && 'is-primary',
		is_tertiary && 'is-tertiary',
	]
		.filter( Boolean )
		.join( ' ' );
</script>

{#if href}
	<a {href} class={classes} {...$$restProps} on:click>
		<slot />
	</a>
{:else}
	<button class={classes} {...$$restProps} on:click>
		<slot />
	</button>
{/if}

<style lang="postcss">
	@keyframes button-busy {
		0% {
			background-position: 200px 0;
		}
	}

	.button {
		color: var( --button-color );
		background-color: var( --button-bg-color );
		font-size: var( --font-size-regular );
		text-align: center;
		line-height: 2.5;
		padding-inline: calc( var( --spacing-inner ) * 2 );

		&.is-busy {
			animation: button-busy 2500ms infinite linear;
			background-size: 100px 100%;
		}

		&.is-default {
			--button-color: var( --c-link );

			text-decoration: none;
			border: 1px solid var( --button-color );
			border-radius: 4px;

			&:disabled {
				--button-color: var( --c-fg-light );

				border-color: var( --c-fg-light );
			}

			&.is-busy {
				/* stylelint-disable-next-line declaration-colon-newline-after */
				background-image: linear-gradient(
					-45deg,
					var( --c-bg ) 33%,
					var( --c-bg-dark ) 33%,
					var( --c-bg-dark ) 70%,
					var( --c-bg ) 70%
				);
			}
		}

		&.is-primary {
			--button-color: var( --c-bg );
			--button-bg-color: var( --c-link );

			text-decoration: none;
			border: none;
			border-radius: 2px;

			&:hover,
			&:focus {
				filter: brightness( 94% );
			}

			&:active {
				filter: brightness( 106% );
			}

			&:disabled {
				opacity: 0.5;

				&:hover,
				&:active {
					filter: unset;
				}
			}

			&.is-busy {
				/* stylelint-disable-next-line declaration-colon-newline-after */
				background-image: linear-gradient(
					-45deg,
					var( --button-bg-color ) 33%,
					var( --c-link-focus ) 33%,
					var( --c-link-focus ) 70%,
					var( --button-bg-color ) 70%
				);
			}
		}

		&.is-tertiary {
			--button-color: currentcolor;

			background: none;
			border: none;
			text-decoration: underline;

			&:active {
				text-decoration: none;
			}
		}
	}
</style>
