<script>
	import { beforeUpdate } from 'svelte';
	import { page } from '$app/stores';
	import { goto } from '$app/navigation';

	import Actions from './actions.svelte';
	import ArticlesList from './articles-list.svelte';
	import Main from './main.svelte';
	import FeedHeader from './feed-header.svelte';

	/** @type {number} */
	export let id;
	export let is_category = false;

	const { alert, notifications, session, settings, ui } = $page.data.stores;

	const engine = session.get_engine();
	const articles = engine.get_data( 'articles' );
	const categories = engine.get_data( 'categories' );
	const feeds = engine.get_data( 'feeds' );
	const source_tree = engine.get_data( 'source_tree' );

	/**
	 * Unsubscribe from feed
	 *
	 * @param {number} feed_id    Feed ID.
	 * @param {string} feed_title Feed title
	 */
	export function unsubscribe( feed_id, feed_title ) {
		alert.set( {
			button: 'Yes please',
			cancel_button: 'Nope',
			message: `Are you sure you want to unsubscribe from ${ feed_title }?`,
			title: 'Unsubscribe',
			async on_confirm() {
				try {
					await engine.unsubscribe( feed_id );
					await goto( '/' );

					source_tree.fetch();
					notifications.add( {
						icon: 'check',
						id: `unsubscribe-${ feed_id }`,
						text: `Unsubscribed from ${ feed_title }.`,
					} );
				} catch ( error ) {
					alert.set( {
						button: 'OK',
						message: error instanceof Error ? error.message : 'Unknown Error.',
						title: 'Unsubscribe Error',
					} );
				}
			},
		} );
	}

	/** @type { import('$types').ActionButtonProps[] } */
	let actions;

	$: ( { is_fetching } = $articles );
	$: ( { fetch_older_first, fetch_only_unread, use_low_profile } = $settings );

	$: feed = is_category ? $categories.items_by_id.get( id ) : $feeds.items_by_id.get( id );
	$: doc_title = feed ? `${ feed.title } | Tiny Reader` : 'Tiny Reader';
	$: no_articles_text = fetch_only_unread ? 'No unread articles found.' : 'No articles found.';
	$: show_feed_name = is_category || id < 0;
	$: unread_ids = $articles.items.filter( i => i.unread ).map( i => i.id );

	$: {
		actions = [
			{
				icon: fetch_older_first ? 'sort-down' : 'sort-up',
				label: fetch_older_first ? 'Sort Recent First' : 'Sort Older First',
				disabled: is_fetching,
				onClick: () => {
					settings.toggle_fetch_sort();
					articles.refresh();
				},
			},
			{
				icon: 'checkbox-outline',
				label: 'Mark all as read',
				disabled: is_fetching || ! unread_ids.length,
				onClick: () => {
					articles.toggle_read( unread_ids, true );
				},
			},
			{
				icon: 'sync',
				label: 'Refresh',
				disabled: is_fetching,
				onClick: articles.refresh,
			},
			{
				class: 'sidebar-toggle',
				icon: 'list',
				label: 'Sidebar',
				onClick: ui.toggle_sidebar,
			},
		];

		if ( feed && id > 0 && ! is_category ) {
			actions = [
				{
					icon: 'remove-circle-outline',
					label: 'Unsubscribe',
					onClick: () => {
						if ( feed ) {
							unsubscribe( feed.id, feed.title );
						}
					},
				},
				...actions,
			];
		}
	}

	beforeUpdate( () => {
		const { feed_id, is_cat } = articles.get_params();

		if ( feed_id !== id || is_cat !== is_category ) {
			articles.set_params( {
				feed_id: id,
				is_cat: is_category,
			} );
		}
	} );
</script>

<svelte:head>
	<title>{doc_title}</title>
</svelte:head>

<FeedHeader {feed} use_image_icon={! use_low_profile} />

<Actions {actions} />
<Main>
	<ArticlesList {articles} {no_articles_text} {show_feed_name} />
</Main>
