<script>
	import Icon from '$components/icon.svelte';
	import PageHeader from '$components/page-header.svelte';

	/** @type { import('$types').Category | import('$types').Feed | null } */
	export let feed = null;
	export let use_image_icon = true;
</script>

<PageHeader>
	{#if feed}
		<a href={feed.href} rel="bookmark">
			{#if use_image_icon && feed.favicon}
				<img alt="" aria-hidden="true" class="icon" src={feed.favicon} />
			{:else}
				<Icon name={feed.icon} />
			{/if}
			<span>{feed.title}</span>
		</a>
	{:else}
		<span>
			<Icon name="rss-outline" />
			<span>Feed</span>
		</span>
	{/if}
</PageHeader>
