<script>
	import TextControl from './text-control.svelte';
	import ToggleControl from './toggle-control.svelte';
	import SelectControl from './select-control.svelte';

	let cls = '';
	export { cls as class };

	/** @type {string} */
	export let label;
	/** @type {string} */
	export let name;
	export let stacked = true;
	export let type = 'text';

	/** @type { import('svelte').ComponentType } */
	let control;
	/** @type {Record<string,any>} */
	let props;

	$: {
		props = {
			name,
			type,
			id: name,
			...$$restProps,
		};

		if ( type === 'checkbox' ) {
			control = ToggleControl;
		} else if ( type === 'select' ) {
			control = SelectControl;
			delete props.type;
		} else {
			control = TextControl;
		}
	}
</script>

<div class="field field--{type} {cls}" class:is-stacked={stacked}>
	<label for={name}>{label}</label>
	<svelte:component this={control} {...props} on:blur on:change on:input />
</div>

<style lang="postcss">
	.field {
		display: flex;
		gap: calc( var( --spacing-inner ) / 2 );
		margin-block-end: calc( var( --spacing-inner ) / 2 );
		padding-block: calc( var( --spacing-inner ) / 2 );

		label {
			flex-grow: 1;
		}

		&.is-stacked {
			flex-direction: column;
		}

		&&--checkbox--reversed {
			flex-direction: revert;

			label {
				order: 1;
			}
		}
	}
</style>
