<script>
	import { create_route_path } from '$utils/routes';
	import Button from './button.svelte';

	let cls = '';

	export { cls as class };
	export let cancel_text = '';
	export let can_submit = true;
	export let is_submitting = false;
	export let submit_text = 'Submit';

	$: is_button_disabled = ! can_submit || is_submitting;
</script>

<form class="form {cls}" on:submit {...$$restProps}>
	<slot />
	<Button is_primary is_busy={is_submitting} type="submit" disabled={is_button_disabled}>{submit_text}</Button>
	{#if cancel_text}
		<Button is_tertiary href={create_route_path( '' )}>{cancel_text}</Button>
	{/if}
</form>

<style lang="postcss">
	form {
		display: flex;
		flex-direction: column;

		:global( .button ) {
			align-self: center;
			margin-block-start: var( --spacing-inner );
		}
	}
</style>
