<script>
	let cls = '';
	export { cls as class };

	/** @type {string} */
	export let name;

	$: props = {
		'aria-hidden': true,
		'class': [ 'icon', cls ].filter( Boolean ).join( ' ' ),
		'role': 'presentation',
		...$$restProps,
	};
</script>

<svg {...props}>
	<use href="#icon-{name}" />
</svg>

<style>
	.icon {
		fill: currentcolor;
		overflow: hidden;
		vertical-align: middle;
		object-fit: contain;
		transform-origin: center center;
	}
</style>
