<script>
	import Button from './button.svelte';
	import Icon from './icon.svelte';

	let cls = '';
	export { cls as class };

	/** @type {string} */
	export let icon;
	export let is_image_icon = false;

	$: classes = [ 'has-icon', cls ].filter( Boolean ).join( ' ' );
</script>

<Button {...$$restProps} class={classes} on:click>
	{#if is_image_icon}
		<img alt="" aria-hidden="true" class="icon" src={icon} />
	{:else}
		<Icon name={icon} />
	{/if}
	<slot />
</Button>
