<script>
	/** @type { () => Promise<{default: import('svelte').ComponentType}> } */
	export let component;
</script>

{#await component()}
	<slot name="loading" />
{:then Component}
	<svelte:component this={Component.default} {...$$restProps} />
{/await}
