<script>
	let cls = '';
	export { cls as class };
</script>

<main class={cls}>
	<slot />
</main>

<style lang="postcss">
	main {
		grid-column: 1/-1;

		&:only-child {
			place-self: center;
			grid-row: 1/-1;
		}

		:global( body.no-scroll ) & {
			position: relative;
			inset-block-start: calc( var( --scroll-y ) * -1px );
		}
	}
</style>
