<script>
	import { click_outside, handle_escape, toggle_body_scroll, trap_focus } from '@kucrut/svelte-stuff/actions';
	import { createEventDispatcher } from 'svelte';
	import { fade, fly } from 'svelte/transition';
	import { fadeIn, flyUp } from '$utils/transitions.js';

	const dispatch = createEventDispatcher();

	export function close() {
		dispatch( 'close' );
	}
</script>

<svelte:body use:toggle_body_scroll={{ should_disable: true }} />

<div class="modal cover" in:fade={fadeIn} on:close={close} use:handle_escape={{ callback: close }}>
	<div
		class="modal__box"
		tabindex="-1"
		in:fly={flyUp}
		use:click_outside={{ active: true, callback: close }}
		use:trap_focus
	>
		<slot />
	</div>
</div>

<style lang="postcss">
	.modal::before {
		content: '';
		display: block;
		position: absolute;
		inset: 0;
		background-color: var( --c-cover-bg );
	}

	.modal__box {
		position: absolute;
		inset-block-start: 50%;
		inset-inline-start: 50%;
		transform: translate( -50%, -50% );
		inline-size: calc( 100vw - ( var( --spacing-inner ) * 4 ) );
		max-inline-size: 20rem;
		overflow: auto;
		padding-block: calc( var( --spacing-inner ) * 2 );
		padding-inline: calc( var( --spacing-inner ) * 2 );
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		border-radius: 0.5rem;
		background-color: var( --c-bg );

		:global( .button ~ .button ) {
			margin-block-start: var( --spacing-outer );
		}
	}
</style>
