<script>
	import Icon from './icon.svelte';

	export let icon = 'newspaper';
</script>

<div>
	<Icon class="icon--not-found" name={icon} />
	<slot />
</div>

<style lang="postcss">
	div {
		display: grid;
		place-items: center;

		:global( .icon.icon--not-found ) {
			inline-size: var( --icon-size-huge );
			block-size: var( --icon-size-huge );
			opacity: 0.8;
		}
	}
</style>
