<script>
	import { page } from '$app/stores';

	import Notification from './notification.svelte';

	const { notifications } = $page.data.stores;
</script>

<div class="cover notifications">
	<!-- eslint-disable-next-line space-in-parens -->
	{#each $notifications as item (item.id)}
		<Notification {...item} />
	{/each}
</div>

<style>
	.notifications {
		padding-block-start: var( --spacing-outer );
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
