<script>
	/** @typedef { import('$stores/notifications').Item } Item */

	import { fade, fly } from 'svelte/transition';
	import { fadeIn, flyDown } from '$utils/transitions.js';
	import { item_defaults } from '$stores/notifications';
	import { onMount } from 'svelte';
	import { page } from '$app/stores';

	import Icon from './icon.svelte';

	export let icon = '';
	/** @type {Item['id']} */
	export let id;
	/** @type {Item['text']} */
	export let text;
	export let timeout = item_defaults.timeout;

	const { notifications } = $page.data.stores;
	/** @type {number} */
	let timeout_id;

	onMount( () => {
		timeout_id = window.setTimeout( () => notifications.remove( id ), timeout );

		return () => clearTimeout( timeout_id );
	} );
</script>

<div class="notification" in:fly={flyDown} out:fade={fadeIn}>
	{#if icon}
		<Icon name={icon} />
	{/if}
	<p class:has-icon={icon}>{text}</p>
</div>

<style lang="postcss">
	.notification {
		position: relative;
		z-index: 9;
		max-inline-size: 80%;
		display: flex;
		gap: var( --spacing-inner );
		align-items: center;
		margin-block-end: var( --spacing-inner );
		padding-block: calc( var( --spacing-inner ) / 2 );
		padding-inline: var( --spacing-inner );
		border-radius: 0.625rem;
		background-color: var( --c-cover-bg );

		:global( .icon ) {
			flex-shrink: 0;
			fill: var( --c-cover-fg );
			inline-size: var( --icon-size-medium );
			block-size: var( --icon-size-medium );
		}
	}

	p {
		margin-block: 0;
		color: var( --c-cover-fg );
		font-size: var( --font-size-small );
		line-height: 1.4;

		&.has-icon {
			padding-inline-start: var( --spacing-inner );
			border-inline-start: 1px solid var( --c-link );
		}
	}
</style>
