<header class="toolbar">
	<h1>
		<slot />
	</h1>
</header>

<style lang="postcss">
	header {
		align-self: start;
		inset-block-start: 0;
		border-block-end: var( --border-thin );
		padding-block: var( --size-fluid-2 );

		@media ( --br-desktop ) {
			border-block-end: unset;
			grid-column: 1/2;
		}
	}

	h1 {
		display: flex;
		align-items: center;
		margin-block: 0;
		line-height: 1.3;

		@media ( --br-large ) {
			font-size: calc( var( --font-size-regular ) * 2 );
			font-weight: 700;
		}

		:global( a ),
		> :global( span ) {
			display: flex;
			align-items: flex-start;
			gap: calc( var( --spacing-inner ) / 2 );
			text-decoration: none;
			color: var( --c-fg );
		}

		:global( .icon ) {
			flex-shrink: 0;
			inline-size: var( --icon-size-medium );
			block-size: var( --icon-size-medium );
			margin-block-start: 3px;

			@media ( --br-large ) {
				display: none;
			}
		}
	}
</style>
