<script>
	/** @typedef {{ group?: string; label: string; value: string; items?: Option[] }} Option */

	/** @type {string} */
	export let name;
	/** @type {Option[]} */
	export let options;
	export let value = '';
</script>

<select class="select-control" {name} {value} {...$$restProps} on:blur on:change>
	<!-- eslint-disable-next-line space-in-parens -->
	{#each options as option, i (option.group || option.label + i)}
		{#if option.items}
			<optgroup label={option.group}>
				<!-- eslint-disable-next-line space-in-parens -->
				{#each option.items as { label, value: opt_value } (opt_value)}
					<option value={opt_value}>{label}</option>
				{/each}
			</optgroup>
		{:else}
			<option value={option.value}>{option.label}</option>
		{/if}
	{/each}
</select>
