<script>
	import Feed from './sidebar-feed.svelte';

	/** @type {string} */
	export let id;
	/** @type {boolean} */
	export let is_expanded;
	/** @type { import('$types').Feed[] } */
	export let items;
	/** @type {string} */
	export let toggle_id;
</script>

<ul {id} aria-hidden={! is_expanded} aria-labelledby={toggle_id}>
	<!-- eslint-disable-next-line space-in-parens -->
	{#each items as feed (feed.href)}
		<Feed {feed} />
	{/each}
</ul>

<style lang="postcss">
	ul {
		padding-inline-start: 0;
		margin-block-end: var( --spacing-inner );
		list-style: none;
		display: none;

		&[aria-hidden='false'] {
			display: block;
		}
	}
</style>
