<script>
	import { beforeNavigate } from '$app/navigation';
	import { page } from '$app/stores';
	import { toggle_body_scroll } from '@kucrut/svelte-stuff/actions';

	import Actions from './sidebar-actions.svelte';
	import Categories from './sidebar-categories.svelte';
	import Footer from './sidebar-footer.svelte';

	const { ui } = $page.data.stores;

	beforeNavigate( () => {
		ui.hide_sidebar();
	} );
</script>

<svelte:body use:toggle_body_scroll={{ should_disable: $ui.show_sidebar }} />

<aside class:is-visible={$ui.show_sidebar}>
	<h2 class="screen-reader-text">Sidebar</h2>
	<div>
		<Categories />
		<Actions />
		<Footer />
	</div>
</aside>

<style lang="postcss">
	aside {
		position: fixed;
		z-index: 4;
		inset: 0;
		padding-block-end: var( --toolbar-height );
		background-color: var( --c-bg );
		transform: translate3d( -100%, 0, 0 );
		transition: transform 0.5s;

		@media ( --br-tablet ) {
			background-color: var( --c-bg-dark );
			inline-size: var( --sidebar-width );
			inset-inline-end: unset;
		}

		@media ( --br-desktop ) {
			transform: translateZ( 0 );
		}

		&.is-visible {
			transform: translateZ( 0 );
		}

		div {
			display: flex;
			flex-direction: column;
			block-size: 100%;
			overflow: auto;
		}
	}
</style>
