<script>
	import Feeds from './sidebar-feeds.svelte';
	import NavItem from './sidebar-nav-item.svelte';

	/** @type { import('$types').SourceTreeItem } */
	export let category;

	let is_expanded = false;

	$: ( { feeds, id, title, unread } = category );
	$: items_id = `category-${ id }-items`;
	$: toggle_id = `category-${ id }-toggle`;

	function toggle_expanded() {
		is_expanded = ! is_expanded;
	}
</script>

<NavItem
	{title}
	aria-controls={items_id}
	aria-expanded={is_expanded}
	class="nav-item--category"
	count={unread}
	id={toggle_id}
	on:click={toggle_expanded}
>
	<Feeds {is_expanded} {toggle_id} id={items_id} items={feeds} />
</NavItem>
