<script>
	import { page } from '$app/stores';

	import Actions from './actions.svelte';

	const actions = [
		{
			class: 'sidebar-toggle',
			icon: 'list',
			label: 'Sidebar',
			onClick: () => $page.data.stores.ui.toggle_sidebar(),
		},
	];
</script>

<Actions {actions} />
