<script>
	// TODO
	// eslint-disable-next-line @typescript-eslint/ban-ts-comment
	// @ts-nocheck

	import Button from '$components/button.svelte';
	import IconButton from '$components/icon-button.svelte';

	let cls = '';
	export { cls as class };

	/** @type {number} */
	export let count;
	export let hide_count = false;
	export let icon = '';
	/** @type {string} */
	export let title;

	$: button_props = icon ? { ...$$restProps, icon } : { ...$$restProps };
	$: component = icon ? IconButton : Button;
	$: count_text = count > 99 ? '99+' : count;
</script>

<li class="nav-item {cls}">
	<svelte:component this={component} {...button_props} on:click>
		<span class="name">{title}</span>
		<span class="count" class:screen-reader-text={hide_count || count < 1}>{count_text}</span>
	</svelte:component>
	<slot />
</li>

<style lang="postcss">
	.nav-item {
		:global( .button ) {
			--button-color: var( --c-fg );

			border: 0;
			border-radius: unset;
			outline: none;
			inline-size: 100%;
			display: flex;
			gap: calc( var( --spacing-inner ) / 2 );
			padding-block: calc( var( --spacing-inner ) * 0.75 );
			padding-inline: var( --spacing-outer );
			line-height: 1.4;
			font-size: var( --font-size-small );
			font-weight: 500;
			text-align: start;
			cursor: pointer;
		}

		:global( .icon ) {
			flex-shrink: 0;
			inline-size: var( --icon-size-small );
			block-size: var( --icon-size-small );
		}

		&--category > :global( .button ) {
			text-transform: uppercase;
			font-size: var( --font-size-smallest );
			font-weight: 600;
			opacity: 0.8;
		}

		&--feed.is-active :global( .button ) {
			font-weight: 500;
		}

		&.is-active :global( .button ),
		:global( .button:active ),
		:global( .button:focus ),
		:global( .button:hover ) {
			--button-color: var( --c-link );
			--button-bg-color: var( --c-bg-light );

			outline: none;
			filter: unset;
		}

		.name {
			flex-grow: 1;
			padding-inline-end: var( --spacing-inner );
		}

		.count {
			flex-shrink: 0;
		}
	}
</style>
