<script>
	import { page } from '$app/stores';

	import IconButton from '$components/icon-button.svelte';
</script>

<IconButton icon="close" class="sidebar-close-button" on:click={() => $page.data.stores.ui.hide_sidebar()}>
	<span class="screen-reader-text">Hide Sidebar</span>
</IconButton>

<style lang="postcss">
	:global( .button.is-default.sidebar-close-button ) {
		padding: 0;
		block-size: var( --toolbar-height );
		margin-inline-start: auto;
		border: none;
		color: inherit;
		cursor: pointer;

		@media ( --br-desktop ) {
			display: none;
		}

		:global( .icon ) {
			inline-size: var( --icon-size-big );
			block-size: var( --icon-size-big );
		}
	}

	:global( .button.is-default.sidebar-close-button:focus ),
	:global( .button.is-default.sidebar-close-button:hover ) {
		color: var( --c-link );
	}
</style>
