<script>
	import CloseButton from './sidebar-close-button.svelte';
</script>

<div>
	<p>
		<span>tiny<span class="u">_</span>reader</span>
	</p>
	<CloseButton />
</div>

<style lang="postcss">
	div {
		position: absolute;
		inset-inline: 0;
		inset-block-end: 0;
		display: flex;
		block-size: var( --toolbar-height );
		line-height: var( --toolbar-height );
		border-block-start: 1px solid var( --c-bg-dark );
		background-color: var( --c-bg-light );
		padding-inline: var( --spacing-outer );

		@media ( --br-tablet ) {
			background-color: var( --c-bg-dark );
		}

		p {
			font-size: var( --font-size-small );
			margin: 0;
		}

		.u {
			color: var( --c-link );
			opacity: 1;
		}
	}
</style>
