<script>
	import { page } from '$app/stores';

	import Category from './sidebar-category.svelte';
	import Spinner from '$components/spinner.svelte';

	const { session, settings } = $page.data.stores;
	const source_tree = session.get_engine().get_data( 'source_tree' );

	$: ( { fetch_only_unread } = $settings );
	$: ( { is_fetching, items } = $source_tree );
	/* eslint-disable indent */
	$: categories = fetch_only_unread
		? items
				.map( ( { feeds, ...cat } ) => ( { ...cat, feeds: feeds.filter( feed => feed.unread > 0 ) } ) )
				.filter( cat => cat.unread > 0 && cat.feeds.length > 0 )
		: items;
</script>

<nav aria-label="Feed Categories" class:is-loading={is_fetching}>
	{#if is_fetching}
		<span><Spinner /></span>
	{/if}

	{#if categories.length}
		<ul>
			<!-- eslint-disable-next-line space-in-parens -->
			{#each categories as category (category.id)}
				<Category {category} />
			{/each}
		</ul>
	{/if}
</nav>

<style lang="postcss">
	nav {
		position: relative;
		flex-grow: 1;
		display: grid;
	}

	span,
	ul {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	span {
		place-self: center;
	}

	ul {
		margin-block-end: 0;
		padding-block-end: var( --spacing-inner );
		padding-inline-start: 0;
		list-style: none;
	}
</style>
