<script>
	import { create_route_path } from '$utils/routes';
	import { goto } from '$app/navigation';
	import { page } from '$app/stores';

	import IconButton from '$components/icon-button.svelte';

	const { session } = $page.data.stores;

	function refresh() {
		session.get_engine().get_data( 'source_tree' ).fetch();
	}

	async function signout() {
		await session.signout();
		goto( create_route_path( 'login' ) );
	}
</script>

<div class="sidebar-actions">
	<IconButton class="action-button" icon="sync" on:click={refresh}><span class="label">Refresh</span></IconButton>
	<IconButton class="action-button" href={create_route_path( 'subscribe' )} icon="add-circle-outline"
		><span class="label">Subscribe to Feed</span></IconButton
	>
	<IconButton class="action-button" href={create_route_path( 'settings' )} icon="settings-outline"
		><span class="label">Settings</span></IconButton
	>
	<IconButton class="action-button" icon="log-out" on:click={signout}><span class="label">Sign Out</span></IconButton>
</div>

<style lang="postcss">
	.sidebar-actions {
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		padding-block: var( --spacing-inner );
		border-block-start: var( --border-thin );

		:global( .button ) {
			display: flex;
			align-items: center;
			gap: calc( var( --spacing-outer ) / 2 );
			padding-block: calc( var( --spacing-inner ) / 4 );
			padding-inline: var( --spacing-outer );
			border: none;
			border-radius: unset;
			background-color: unset;
			color: inherit;
		}

		:global( .icon ) {
			position: static;
			inline-size: var( --icon-size-small );
			block-size: var( --icon-size-small );
			transform: unset;
		}

		:global( .button:focus ),
		:global( .button:hover ) {
			color: var( --c-link );
			background-color: var( --c-bg-light );
			outline: none;
			filter: unset;
		}

		.label {
			font-size: var( --font-size-small );
			font-weight: 500;
		}
	}
</style>
