<script>
	import { onMount } from 'svelte';

	let delay = 0;

	function set_delay() {
		delay = Date.now() % 1000;
	}

	onMount( set_delay );
</script>

<svg viewBox="0 0 50  50" xmlns="http://www.w3.org/2000/svg" style="--spinner-delay: {delay}ms;">
	<circle cx="25" cy="25" r="20" fill="none" stroke-width="5" />
</svg>

<style lang="postcss">
	@keyframes rotate {
		100% {
			transform: rotate( 360deg );
		}
	}

	@keyframes dash {
		0% {
			stroke-dasharray: 1, 150;
			stroke-dashoffset: 0;
		}

		50% {
			stroke-dasharray: 90, 150;
			stroke-dashoffset: -35;
		}

		100% {
			stroke-dasharray: 90, 150;
			stroke-dashoffset: -124;
		}
	}

	svg {
		inline-size: var( --icon-size-huge );
		block-size: var( --icon-size-huge );
		animation: rotate 2s linear infinite;
		animation-delay: var( --spinner-delay );
	}

	circle {
		stroke: var( --c-link-focus );
		stroke-linecap: round;
		animation: dash 1.5s ease-in-out infinite;
	}
</style>
