<script>
	/** @type {string} */
	export let name;
	export let type = 'text';
</script>

<input class="text-control text-control--{type}" id={name} {name} {type} {...$$restProps} on:input />

<style lang="postcss">
	.text-control--number {
		flex-shrink: 1;
		flex-grow: 1;
		text-align: end;
		max-inline-size: 4rem;
	}
</style>
