<script>
	export let checked = false;
	export let disabled = false;
	/** @type {string} */
	export let name;
</script>

<span class="toggle-control">
	<input type="checkbox" id={name} {checked} {disabled} {name} {...$$restProps} on:change />
	<span class="check" />
</span>

<style lang="postcss">
	.toggle-control {
		display: inline-flex;
		align-items: center;
		position: relative;
	}

	input {
		margin: 0;
		padding: 0;
		opacity: 0;
		position: absolute;
		inline-size: 100%;
		block-size: 100%;
		z-index: 2;
		cursor: pointer;
	}

	.check::before {
		content: '';
		display: block;
		inline-size: 2.5rem;
		block-size: 1.25rem;
		border-radius: 0.65rem;
		background-color: var( --c-fg-light );
		transition: background-color 0.2s;
	}

	.check::after {
		content: '';
		display: block;
		inline-size: 1.625rem;
		block-size: 1.625rem;
		background-color: var( --c-bg-light );
		position: absolute;
		inset-block-start: 50%;
		transform: translate( 0, -50% );
		border-radius: 50%;
		box-shadow: 2px 2px 4px var( --c-fg-light );
		transition: 0.2s;
	}

	input:focus ~ .check {
		outline: var( --c-link ) 1px solid;
	}

	input:checked ~ .check::before {
		background-color: var( --c-link );
	}

	input:disabled ~ .check {
		opacity: 0.4;
	}

	input:checked ~ .check::after {
		transform: translate( calc( 2.5rem - 100% ), -50% );
	}
</style>
