<script>
	import { convert_youtube_channel_url } from '$utils/youtube';
	import { page } from '$app/stores';

	import Main from '$components/main.svelte';
	import Field from '$components/field.svelte';
	import Form from '$components/form.svelte';
	import Icon from '$components/icon.svelte';
	import PageHeader from '$components/page-header.svelte';
	import SidebarButton from '$components/sidebar-button.svelte';

	const { notifications, session } = $page.data.stores;
	const engine = session.get_engine();
	const categories = engine.get_data( 'categories' );

	const doc_title = 'Subscribe To Feed';

	/** @type { import('$types').FeedToSubscribeOption[] } */
	let feed_options = [];
	let is_submitting = false;
	let needs_auth = false;
	let form_value = {
		category: 0,
		login: '',
		password: '',
		url: '',
	};

	$: category_options = $categories.items.map( ( { id, title } ) => ( {
		label: title,
		value: id,
	} ) );
	$: feed_urls = feed_options.length
		? feed_options.filter( ( { checked } ) => checked ).map( ( { value } ) => value )
		: [ form_value.url ].filter( Boolean );
	$: can_submit =
		! is_submitting &&
		Number( form_value.category ) >= 0 &&
		feed_urls.length > 0 &&
		( ! needs_auth || Boolean( needs_auth && form_value.login && form_value.password ) );

	function clear_url_value() {
		form_value = {
			...form_value,
			url: '',
		};
	}

	/**
	 * Handle category change
	 *
	 * @param {Event & {target: HTMLSelectElement}} event Event.
	 */
	function handle_category_change( event ) {
		form_value = {
			...form_value,
			category: Number( event.target.value ),
		};
	}

	/**
	 * Handle input
	 *
	 * @param {Event & {target: HTMLInputElement}} event Event.
	 */
	function handle_input( event ) {
		form_value = {
			...form_value,
			[ event.target.name ]: event.target.value,
		};
	}

	/**
	 * Handle toggle feed
	 *
	 * @param {number}                             index Option index.
	 * @param {Event & {target: HTMLInputElement}} event Input event.
	 */
	function handle_toggle_feed_option( index, event ) {
		feed_options[ index ] = {
			...feed_options[ index ],
			checked: event.target.checked,
		};
	}

	/**
	 * Handle submission
	 *
	 * @param {SubmitEvent} event Submit event.
	 */
	async function handle_submit( event ) {
		event.preventDefault();

		if ( ! can_submit ) {
			return;
		}

		// eslint-disable-next-line @typescript-eslint/no-unused-vars
		const { category, url: _, ...params } = form_value;
		let should_refresh_tree = false;

		feed_options = feed_options.filter( ( { value } ) => feed_urls.indexOf( value ) >= 0 );
		is_submitting = true;

		for ( const feed_url of feed_urls ) {
			const result = await engine.subscribe( convert_youtube_channel_url( feed_url ), category, params );

			if ( result.success ) {
				should_refresh_tree = true;
				clear_url_value();
			}

			if ( result.message ) {
				notifications.add( {
					icon: result.success ? 'check' : 'close',
					id: `subscribe-${ feed_url }`,
					text: result.message,
				} );
			}

			if ( result.feeds?.length ) {
				clear_url_value();

				feed_options = result.feeds.map( ( { title, url } ) => ( {
					checked: true,
					label: title,
					value: url,
				} ) );
			} else {
				feed_options = feed_options.filter( ( { value } ) => value !== feed_url );
			}
		}

		if ( should_refresh_tree ) {
			engine.get_data( 'source_tree' ).fetch();
		}

		is_submitting = false;
	}
</script>

<svelte:head>
	<title>{doc_title} | Tiny Reader</title>
</svelte:head>
<PageHeader>
	<span>
		<Icon name="add-circle-outline" />
		<span>{doc_title}</span>
	</span>
</PageHeader>
<SidebarButton />
<Main>
	<Form
		{can_submit}
		{is_submitting}
		autocomplete="on"
		class="main-content form--subscribe"
		submit_text="Subscribe"
		on:submit={handle_submit}
	>
		{#if feed_options.length}
			<p>Select Feeds</p>
			<!-- eslint-disable-next-line space-in-parens -->
			{#each feed_options as feed, index (feed.value)}
				<Field
					class="field--checkbox--reversed"
					type="checkbox"
					name="feed-{index}"
					disabled={is_submitting}
					{...feed}
					on:change={e => handle_toggle_feed_option( index, e )}
				/>
			{/each}
		{:else}
			<Field
				label="Feed URL"
				name="url"
				type="url"
				value={form_value.url}
				disabled={is_submitting}
				on:input={handle_input}
			/>
		{/if}
		<Field
			label="Category"
			name="category"
			type="select"
			value={form_value.category}
			disabled={is_submitting}
			on:change={handle_category_change}
			options={category_options}
		/>
		<Field
			class="field--checkbox--reversed"
			checked={needs_auth}
			disabled={is_submitting}
			label="This feed requires authentication"
			name="needs-auth"
			type="checkbox"
			on:change={() => ( needs_auth = ! needs_auth )}
		/>
		{#if needs_auth}
			<Field
				required
				label="Username"
				name="login"
				type="text"
				value={form_value.login}
				disabled={is_submitting}
				on:input={handle_input}
			/>
			<Field
				required
				label="Password"
				name="password"
				type="password"
				value={form_value.password}
				disabled={is_submitting}
				on:input={handle_input}
			/>
		{/if}
	</Form>
</Main>

<style lang="postcss">
	p {
		margin-block-end: unset;
	}
</style>
