@define-mixin theme-light {
	--c-bg: #fcfcfc;
	--c-bg-light: #fff;
	--c-bg-dark: #f6f7f8;
	--c-fg-light: #808080;
	--c-fg: #3c434a;
	--c-link-focus: #0096c9;
	--c-link: #007aa3;
	--c-cover-fg: var( --c-bg );
}

@define-mixin theme-dark {
	--c-bg: #151d28;
	--c-bg-light: #11181e;
	--c-bg-dark: #10161f;
	--c-fg: #c7c7c7;
	--c-fg-light: #808080;
	--c-link: #72aee6;
	--c-link-focus: #7abdf7;
	--c-cover-fg: var( --c-fg );
}
