<script>
	import { afterUpdate } from 'svelte';
	import { create_route_path } from '$utils/routes';
	import { goto } from '$app/navigation';

	import Field from '$components/field.svelte';
	import Form from '$components/form.svelte';
	import Icon from '$components/icon.svelte';
	import Main from '$components/main.svelte';

	/** @type { import('./$types').PageData } */
	export let data;
	const { alert, session, settings } = data.stores;

	const doc_title = 'Sign In';

	/** @type { import('$types').SigninParams } */
	const values = {
		engine: 'tt-rss',
		password: '',
		url: '',
		username: '',
	};

	let is_submitting = false;
	let use_low_profile = $settings.use_low_profile;

	$: can_submit = values.engine === 'tt-rss' && values.password !== '' && values.url !== '' && values.username !== '';

	/**
	 * Handle submit event
	 *
	 * @param {SubmitEvent} event Submit event.
	 */
	async function handle_submit( event ) {
		event.preventDefault();

		if ( ! can_submit ) {
			return;
		}

		is_submitting = true;

		try {
			await session.signin( values );

			const redirect_to = $session.redirect_to || create_route_path( '' );
			$settings.use_low_profile = use_low_profile;
			is_submitting = false;

			goto( redirect_to );
		} catch ( error ) {
			alert.update( () => ( {
				button: 'OK',
				message: error instanceof Error ? error.message : 'Unknown Error',
				title: 'Error Signing In',
			} ) );
			is_submitting = false;
		}
	}

	afterUpdate( () => {
		if ( $session.is_checked && ! values.url ) {
			values.url = session.get_auth_url();
		}
	} );
</script>

<svelte:head>
	<title>{doc_title} | Tiny Reader</title>
</svelte:head>

<Main class="login-page">
	<h1>
		<Icon class="logo" name="logo" />
		<span class="screen-reader-text">Tiny Reader</span>
	</h1>
	<Form
		{can_submit}
		{is_submitting}
		autocomplete="on"
		class="form--login"
		on:submit={handle_submit}
		submit_text={doc_title}
	>
		<p>Sign in to your account.</p>
		<!-- TODO: Add engine field. -->
		<Field
			autocomplete="username"
			label="Username"
			name="username"
			on:input={e => ( values.username = e.target.value )}
			value={values.username}
		/>
		<Field
			autocomplete="current-password"
			label="Password"
			name="password"
			on:input={e => ( values.password = e.target.value )}
			type="password"
			value={values.password}
		/>
		<Field
			autocomplete="url"
			label="TT-RSS URL"
			name="url"
			on:input={e => ( values.url = e.target.value )}
			type="url"
			value={values.url}
		/>
		<Field
			checked={use_low_profile}
			class="field--checkbox--reversed"
			label="Enable Low Profile Mode"
			name="use_low_profile"
			type="checkbox"
			on:change={() => ( use_low_profile = ! use_low_profile )}
		/>
	</Form>
</Main>

<style lang="postcss">
	:global( .login-page ) {
		inline-size: min( var( --size-sm ), 100% );
		padding-inline: var( --size-fluid-3 );

		:global( .logo ) {
			inline-size: 87px;
			block-size: 52px;
		}

		:global( .form ) {
			padding-block-start: var( --spacing-inner );

			:global( p ) {
				margin-block-end: calc( var( --spacing-inner ) * 2 );
			}
		}
	}
</style>
